# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# MLflow specific
mlruns/
mlflow.db
mlartifacts/

# Model files
*.pkl
*.joblib
*.h5
*.keras
*.pt
*.pth
*.onnx
*.pb
*.model
*.bin
*.savedmodel



# IDE specific
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
